<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Trump vs. Hillary Twitter NLP
    </title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ url_for('index')}}">Trump vs. Hillary</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index')}}">Home <span class=""></span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('data')}}">Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="jumbotron jumbotron-fluid m-xs-3 p-xs-1 m-sm-5 p-sm-5">
        

        <h1 style="text-align:center;" class="display-3">Trump vs. Hillary </h1>
        <img src="{{ url_for('static', filename='banner.png') }}" class='img-fluid'> 
        <h2 style="text-align:center;">A War Of Words </h2>

        <hr>
        <blockquote class="blockquote text-center">
            <b style= font-size:22px>The 2016 US Election was a pivitol moment for the direction for America and the rest of the world. Social
                media, espcially
                Twitter, played a great part of expressing both Donald Trump and Hillary Clinton's views. This natural
                language processing model has
                taken over 5,500 of the candidates tweets to make a text predictor to show you which person you
                represent with your words.</b> <br>

            <hr>
            <h3>Are you Trump or Hillary? Try it yourself below</h3>
        </blockquote>

        <!-- script to prevent page from reloading at top-->
        <script>
            document.addEventListener("DOMContentLoaded", function (event) {
                var scrollpos = localStorage.getItem('scrollpos');
                if (scrollpos) window.scrollTo(0, scrollpos);
            });

            window.onbeforeunload = function (e) {
                localStorage.setItem('scrollpos', window.scrollY);
            };
        </script>

        <!-- New container-->
        <blockquote class="blockquote text-center">

            <div class="container">
                <div class="row justify-content-center">

                    <div class="row justify-content-center">

                        <div class="col-med-6">




                            <form action="{{ url_for('predict')}}" method="post">

                                <textarea class="form-control" id="exampleTextarea" name="input text"
                                    placeholder="input text here" required="required" rows="3"></textarea>
                                <!--<input type="text" textarea class="form-control" name="input text" placeholder="input text" required="required" rows="3"></textarea> -->
                                <button type="submit" class="btn btn-primary btn-block btn-lg">Submit text to see if
                                    you're Trump or
                                    Hillary</button>
                            </form>

                            ​
                            <br>


                            {% if value %}


                            <div class="card text-white bg-secondary mb-3" style="max-width: 1000px;">


                                <div class="card-header">
                                    <h3>Your text: <i>"{{ text }}" </i></h3>
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">MY PREDICTION IS: <i><b> {{ percent }}  {{ value }} 
                                        <br>
                                    </i></h3></b>
                                    <p class="card-text"></p>
                                    <p><img src={{ img1 }} class="img"></p>
                                    <br>
                                </div>
                            </div>

                        </div>
                    </div>

        </blockquote>





        {% endif %}




        <br><br>



        </blockquote>

        <hr class="my-2">


        <script src="http://d3js.org/d3.v5.min.js"></script>
        <script src="d3.min.js?v=3.2.8"></script>
        <script type="text/javascript" charset="utf-8"></script>
        <script src="static/js/imageSlideshow.js"></script>

</body>

</html>
